<section id="rentalListing">
  <h1 class="title">Best Apartments For Rent</h1>
  <div class="row">
    <div class="col-md-3 col-xs-6">
      <div class="card rentals-card">
        <img src="http://via.placeholder.com/350x250" alt="" class="card-img-top">
        <div class="card-block">
          <h6 class="card-subtitle">Full Apartment &#183; New York</h6>
          <h4 class="card-title">Very Nice Apartment</h4>
          <p class="card-text">$250 per night &#183; Free Cancelation</p>
          <a href="#" class="card-link">More Info</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-xs-6">
      <div class="card rentals-card">
        <img src="http://via.placeholder.com/350x250" alt="" class="card-img-top">
        <div class="card-block">
          <h6 class="card-subtitle">Full Apartment &#183; New York</h6>
          <h4 class="card-title">Very Nice Apartment</h4>
          <p class="card-text">$250 per night &#183; Free Cancelation</p>
          <a href="#" class="card-link">More Info</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-xs-6">
      <div class="card rentals-card">
        <img src="http://via.placeholder.com/350x250" alt="" class="card-img-top">
        <div class="card-block">
          <h6 class="card-subtitle">Full Apartment &#183; New York</h6>
          <h4 class="card-title">Very Nice Apartment</h4>
          <p class="card-text">$250 per night &#183; Free Cancelation</p>
          <a href="#" class="card-link">More Info</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-xs-6">
      <div class="card rentals-card">
        <img src="http://via.placeholder.com/350x250" alt="" class="card-img-top">
        <div class="card-block">
          <h6 class="card-subtitle">Full Apartment &#183; New York</h6>
          <h4 class="card-title">Very Nice Apartment</h4>
          <p class="card-text">$250 per night &#183; Free Cancelation</p>
          <a href="#" class="card-link">More Info</a>
        </div>
      </div>
    </div>
  </div>
</section>
